doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      // Static navbar
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Exercise
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='/') Home
              li
                a(href='/api/') API
              li
                a(href='/api/users') Users

      .jumbotron
        h1 RESTful
        p
          code 
            'api/users' is where the magic happens!
        p
        button.btn.btn-primary#load-users(type='button') Load Users
        p.message.hidden
          | Button has been disabled as data has already been loaded. Check route `/api/users`
        p
          




  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(src="./javascripts/main.js")
